<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.opencart.listeners.ExtentReportListener" />
	</listeners>
  <test thread-count="5" name="Test1">
    <classes>
	  <class name="com.opencart.testscripts.HomePageTest"/>     
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test2">
   <classes>
  <class name="com.opencart.testscripts.LoginPageTest"/>     
   </classes>
 </test> <!-- Test -->
  <test thread-count="5" name="Test3">
    <classes>
	  <class name="com.opencart.testscripts.ProductPageTest"/>     
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test4">
    <classes>
	  <class name="com.opencart.testscripts.CartPageTest"/>     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
